<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/chatBot.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/topAnimatedBanner.css') }}">

  </head>

  <body>

    <!-------------------------------- Animated banner ----------------------------------------------------------------->
    <div class="slideshow-container">

      <div class="mySlides fade">
        <div class = "numbertext">1 / 3 </div>
        <img src="{{url_for('static', filename='WelcomeBanner.jpg')}}" style = "width: 100%" >
      </div>

      <div class="mySlides fade">
        <div class = "numbertext">2 / 3 </div>
        <img src="{{url_for('static', filename='WelcomeBanner2.jpg')}}" style = "width:100%">
      </div>

      <div class="mySlides fade">
        <div class = "numbertext">3 / 3 </div>
        <img src="{{url_for('static', filename='WelcomeBanner3.jpg')}}" style = "width:100%">
      </div>
      <br>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>

    </div>
    <br>

    <div style="position:relative , left: 1000px, top: 500px">
    </div>

    <br>

    <div class="staticBanner">
      <img src="{{url_for('static', filename='staticBanner.jpg')}}" style = "width:1000px, height: 400px, position:relative,  left:20% ">
    </div>

    <!-------------------------------- ChatBot Interface ----------------------------------------------------------------->

    <h1> Hi I'm your Bible Chat Agent </h1>

    <div id="chatbox">
        <p class="botText"> <span> Hi There!</span></p>
    </div>
    <div id="userInput">
      <input id="textInput" type="text" name="userMessage" placeholder="type your message..."/>
      <input id="buttonInput" type="submit" value="Send"/>
    </div>



    <script>

       function getUserResponse(){
            var userText =  $('#textInput').val();
            var userHTML = "<p class='userText'> User: <span>"+userText+"</span></p>";
            $('#textInput').val("");
            $('#chatbox').append(userHTML);
            document.getElementById("userInput").scrollIntoView({block:'start',behavior:'smooth'});
            $.get("/get",{userMessage: userText}).done(function(data){
              var botHTML = "<p class='botText'>Chat Agent: <span>"+ data +"</span></p>"
              $('#chatbox').append(botHTML);
            });
       }

       $("#textInput").keypress(function(e){
            if(e.which == 13){
              getUserResponse();
            }
         });

       $('#buttonInput').click(function(){
         getUserResponse();
       })

      // Animated banner
       var slideIndex = 1;
       showSlides(slideIndex);

       function plusSlides(n) {
         showSlides(slideIndex += n);
       }

       function currentSlide(n) {
         showSlides(slideIndex = n);
       }

       function showSlides(n) {
         var i;
         var slides = document.getElementsByClassName("mySlides");
         var dots = document.getElementsByClassName("dot");
         if (n > slides.length) {slideIndex = 1}
         if (n < 1) {slideIndex = slides.length}
         for (i = 0; i < slides.length; i++) {
             slides[i].style.display = "none";
         }
         for (i = 0; i < dots.length; i++) {
             dots[i].className = dots[i].className.replace(" active", "");
         }
         slides[slideIndex-1].style.display = "block";
         dots[slideIndex-1].className += " active";
       }
    </script>
  </body>

</html>
