body{
      font-family: arial;
    }

    #chatbox{
      margin-left: auto;
      margin-right: auto;
      width: 40%;
      margin-top:50$;
    }

    .botText{
      font-family: monospace;
      font-size: 16px;
      text-align: left;
      line-height: 25px;
      color: #29649B;
    }

    #userInput {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      margin-top:50px;
      text-align: center;
    }

    #textInput{
      border: 3px solid white;
      border-bottom: 3px solid #29649B;
      font-family: monospace;
      font-size: 16px;
      text-align: center;
    }

    #buttonInput{
      padding: 5px;
      font-family: monospace;
      font-size: 16px;
    }

    h1{
      text-align: center;
      font-family: arial; 
    }

    .userText{
      text-align: right;
    }
